* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: black;
  overflow: hidden;
}

#mainScreen {
  height: 100%;
  display: block;
}

#navBar {
  display: flex;
  position: sticky;
  width: 100%;
  height: 6vh;
  align-items: center;
  gap: 1vh;
  border-radius: 3px;
  color: blue;
}
#navBar a {
  color: blue;
  font-weight: 700;
}
#navBar a:hover {
  text-decoration: underline;
}
#navBar .navButtons {
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-right: 5vh;
}
#logo {
  font-size: 2.25rem;
  margin-right: auto;
  margin-left: 5vh;
  font-weight: bold;
  letter-spacing: 3px;
}
.welcomeContainer {
  height: 40vh;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr 0.5fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
#getStartedButton:hover {
  cursor: pointer;
}
.welcomeContainer h1 {
  font-size: 5rem;
  letter-spacing: 15px;
  color: black;
  animation: breathe 3500ms infinite forwards;
  overflow: hidden;
}
@keyframes breathe {
  50% {
    transform: scaleX(1.075) scaleY(1.05);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
#usernameInput {
  border-style: none;
  color: black;
  border-radius: 25px;
  width: 40vh;
  height: 5vh;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
#usernameInput:focus {
  outline: none;
}
#getStartedButton {
  border-style: none;
  background-color: blue;
  color: white;
  padding: 10px 25px;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 15px;
}
.featuresMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featuresMessage h1 {
  letter-spacing: 5px;
  margin-top: 1vh;
  text-align: center;
  text-decoration: underline;
}
.featuresList {
  display: grid;
  grid-template-columns: repeat(4, 0.9fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  height: 40vh;
  margin: auto;
  gap: 30px;
}

.featuresList div {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  box-shadow: 3px 3px 10px blue;
  height: 15vh;
  margin-top: 3vh;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  overflow: hidden;
}
.featuresList div > p {
  padding-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "w d d"
    "p d d"
    "p t t"
    "p t t";
  grid-template-columns: 0.15fr 0.8fr;
  grid-template-rows: 0.55fr 0.6fr 1fr 1fr;
  height: 100vh;
}

#welcome {
  grid-area: w;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  background-color: #09c6f9;
}

#welcome p {
  color: rgb(34, 31, 31);
}

#details {
  grid-area: d;
}

#projects {
  grid-area: p;
  background: linear-gradient(
    to bottom,
    #09c6f9 25%,
    #08b1e0 50%,
    #045de9 100%
  );
}
#projects h1 {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: black;
  letter-spacing: 3px;
}
#createProject {
  display: flex;
  border: none;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: blue;
  font-weight: bold;
  font-size: 0.85rem;
  margin: auto;
  margin-top: 5vh;
}
#createProject:hover {
  cursor: pointer;
}
.projects-grid {
  display: grid;
  grid-template-columns: 0.9fr;
  grid-template-rows: auto;
  gap: 25px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.projects-grid div {
  background-color: white;
  border: none;
  padding: 15px;
}

#todos {
  grid-area: t;
}
#todos h1 {
  text-decoration: underline;
  padding-top: 5px;
  margin-left: 5vh;
}
.todosTitle {
  display: flex;
  justify-content: center;
}

#details {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid blue;
}

#details form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 0.8fr);
  font-weight: bold;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#title-grid {
  grid-row: 1 / 1;
}
#dueDate-grid {
  grid-row: 2 / 2;
}

#priority-grid {
  grid-row: 3 / 3;
}

#description-grid {
  grid-column: 2 / 2;
  grid-row: 1 / 5;
}

#notes-grid {
  grid-column: 3 / 3;
  grid-row: 1 / 5;
}

#submitForm-grid {
  grid-row: 4 / 4;
}
#submitForm {
  border: none;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 15px;
}

#details input,
textarea {
  border: 2px solid black;
  font-weight: bold;
  font-size: 1rem;
}

#descriptionInput,
#notesInput {
  height: 125px;
  width: 250px;
  resize: initial;
}

#redPriority {
  background-color: red;
  padding: 10px;
  border-radius: 50%;
  border-style: none;
}
#bluePriority {
  background-color: blue;
  padding: 10px;
  border-radius: 50%;
  border-style: none;
}
#whitePriority {
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  border-style: none;
}

#createNewTask {
  background-color: blue;
  padding: 10px;
  height: 5vh;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5%;
  margin-left: auto;
}
#createNewTask:hover {
  cursor: pointer;
}

#tasks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  height: 70%;
  gap: 25px;
  margin: auto;
  margin-top: 5vh;
}

#tasks div {
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(to right, #09c6f9 50%, #045de9 100%);
  text-align: center;
}
