* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: black;
  overflow: hidden;
}

html {
  /* background-color: #d5d5d5; */
}

#mainScreen {
  height: 100%;
  display: block;
}

#navBar {
  display: flex;
  position: sticky;
  width: 100%;
  height: 6vh;
  align-items: center;
  gap: 1vh;
  border-radius: 3px;
  color: blue;
}
#navBar a {
  color: black;
  font-weight: 700;
}
#navBar a:hover {
  color: blue;
}
#navBar .navButtons {
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-right: 5vh;
}
#logo {
  font-size: 2.25rem;
  margin-right: auto;
  margin-left: 5vh;
  font-weight: bold;
  letter-spacing: 3px;
}
.welcomeContainer {
  height: 40vh;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr 0.5fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
#getStartedButton:hover {
  cursor: pointer;
}
.welcomeContainer h1 {
  font-size: 5rem;
  letter-spacing: 15px;
  color: black;
  animation: breathe 3500ms infinite forwards;
  overflow: hidden;
}
@keyframes breathe {
  50% {
    transform: scaleX(1.075) scaleY(1.05);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
#usernameInput {
  border-style: none;
  color: black;
  border-radius: 25px;
  width: 40vh;
  height: 5vh;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
#usernameInput:focus {
  outline: none;
}
#getStartedButton {
  border-style: none;
  background-color: blue;
  color: white;
  padding: 10px 25px;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 15px;
}

.featuresMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featuresMessage h1 {
  letter-spacing: 5px;
  margin-top: 1vh;
  text-align: center;
}
.featuresList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  height: 40vh;
  margin: auto;
}

.featuresList div {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  box-shadow: 3px 3px 15px blue;
  height: 15vh;
  width: 25vh;
  margin-top: 3vh;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  overflow: hidden;
}
.featuresList div > p {
  padding-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "p w d d"
    "p w d d"
    "p t t t"
    "p t t t";
  grid-template-columns: 0.25fr 0.5fr 0.4fr 0.4fr;
  grid-template-rows: 0.55fr 0.6fr 1fr 1fr;
  height: 100vh;
  gap: 30px;
}

#welcome {
  grid-area: w;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  margin-top: 3vh;
  gap: 50px;
}

#welcome p {
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
}

#details {
  grid-area: d;
  border-radius: 25px;
  margin-top: 3vh;
  margin-right: 2vh;
  box-shadow: 2px 2px 7px black;
}

#projects {
  grid-area: p;
  background: #3444b5;
  box-shadow: 2px 2px 5px #287bff;
}
#projects h1 {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px white;
  text-transform: uppercase;
}
#createProject {
  display: flex;
  border: none;
  padding: 5px 10px 5px 10px;
  color: white;
  background: none;
  font-weight: bold;
  font-size: 0.85rem;
  margin: auto;
  margin-top: 5vh;
}
#createProject:hover {
  cursor: pointer;
}
#projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
#projects-grid div {
  height: 7vh;
  color: #bdcaf1;
  font-weight: bold;
  border: none;
  padding: 15px;
  margin-left: 1vh;
  background-color: rgba(255, 255, 255, 0.05);
}

#projects-grid div:hover {
  cursor: pointer;
}
#projects-grid p {
  color: #bdcaf1;
}

#projectTitleInput {
  border-style: none;
  background: none;
  font-size: 1rem;
}
#projectTitleInput:focus {
  outline: none;
}

#projectTitleSubmit {
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  width: 2.5vh;
  background: none;
  font-size: 1.15rem;
}
#projectTitleSubmit:hover {
  cursor: pointer;
}

#todos {
  grid-area: t;
  box-shadow: 5px 5px 25px black;
  border-radius: 25px;
  margin-right: 2vh;
  margin-bottom: 2vh;
}
#todos h1 {
  padding-top: 5px;
  margin-left: 5vh;
  color: black;
}
.todosTitle {
  display: flex;
  justify-content: center;
}

#details form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 5vh;
}

#details form #dueDateInput {
  width: 29vh;
}

#details form label {
  color: #287bf7;
}

#submitForm {
  border: none;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 15px;
}

#details input,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

#descriptionInput,
#notesInput {
  height: 125px;
  width: 250px;
  resize: initial;
}

#redPriority {
  background-color: red;
  padding: 10px;
  border-radius: 50%;
  border-style: none;
}
#bluePriority {
  background-color: blue;
  padding: 10px;
  border-radius: 50%;
  border-style: none;
}
#whitePriority {
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  border-style: none;
}

#createNewTask {
  box-shadow: 2px 2px 15px gray;
  border-style: none;
  padding: 10px;
  height: 5vh;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-left: auto;
}
#createNewTask:hover {
  cursor: pointer;
}

#tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30vh);
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  height: 70%;
  gap: 25px;
  margin: auto;
  margin-top: 5vh;
  overflow: auto;
}

#tasks div {
  box-shadow: 5px 5px 12px black;
  border-radius: 10px;
  width: 28vh;
  height: 10vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-self: center;
}

#tasks p {
  font-weight: 100;
}
